services:

  frontend:
    build: ./frontend
    restart: always
  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - rabbitmq
      # - postgres
      # - redis

  # redis:
  #   image: redis:alpine
  #   restart: always

  # postgres:
  #   image: postgres:15
  #   restart: always
  #   env_file:
  #     - ./backend/.env
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "15672:15672"

  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx_data:/data
      - ./letsencrypt:/etc/letsencrypt

# volumes:
#   postgres_data: